In [2]:
!pip install flask mysql-connector-python pandas

Requirement already satisfied: flask in /opt/anaconda3/lib/python3.12/site-packages (3.0.3)
Requirement already satisfied: mysql-connector-python in /opt/anaconda3/lib/python3.12/site-packages (9.2.0)
Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: Werkzeug>=3.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from flask) (3.0.3)
Requirement already satisfied: Jinja2>=3.1.2 in /opt/anaconda3/lib/python3.12/site-packages (from flask) (3.1.4)
Requirement already satisfied: itsdangerous>=2.1.2 in /opt/anaconda3/lib/python3.12/site-packages (from flask) (2.2.0)
Requirement already satisfied: click>=8.1.3 in /opt/anaconda3/lib/python3.12/site-packages (from flask) (8.1.7)
Requirement already satisfied: blinker>=1.6.2 in /opt/anaconda3/lib/python3.12/site-packages (from flask) (1.6.2)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/anaconda3/lib/python3.12/site-packages (from Jinja2>=3.1.2->flask) (2.1.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
import mysql.connector

def run_query(query, params=None):
    conn = mysql.connector.connect(
        host='localhost',
        user='root',
        password='coconuts',
        database='StoreData'
    )
    cursor = conn.cursor(dictionary=True)
    cursor.execute(query, params or ())
    if query.strip().lower().startswith("select"):
        result = cursor.fetchall()
    else:
        conn.commit()
        result = {"message": "Query executed successfully"}
    cursor.close()
    conn.close()
    return result

In [4]:
# Create Database
conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='coconuts'
)
cursor = conn.cursor()
cursor.execute("CREATE DATABASE IF NOT EXISTS StoreData;")
conn.commit()
cursor.close()
conn.close()

In [5]:
# Create Table
run_query("""
CREATE TABLE IF NOT EXISTS Sales (
    id INT PRIMARY KEY,
    store_id VARCHAR(10),
    total_sales DECIMAL(10,2),
    date DATE
)
""")

{'message': 'Query executed successfully'}

In [6]:
# Insert a Sale Record
new_data = {
    "id": 1002,
    "store_id": "TX001",
    "total_sales": 150.75,
    "date": "2023-01-20"
}

response = run_query("""
INSERT INTO Sales (id, store_id, total_sales, date)
VALUES (%s, %s, %s, %s)
""", (new_data["id"], new_data["store_id"], new_data["total_sales"], new_data["date"]))
print(response)

IntegrityError: 1062 (23000): Duplicate entry '1002' for key 'sales.PRIMARY'

In [ ]:
# Fetch Records Between Dates
import pandas as pd

start_date = "2023-01-01"
end_date = "2023-12-31"

result = run_query("""
SELECT * FROM Sales WHERE date BETWEEN %s AND %s
""", (start_date, end_date))

pd.DataFrame(result)